body {
  margin: 0;
  font-family: "Montserrat", Arial, sans-serif;
  background-color: #fff9ff;
}

h1 {
  margin-left: 3rem;
  margin-top: 7rem;
  -webkit-text-stroke: 0.313rem black;
  paint-order: stroke fill;
  color: #fbf7ce;
  font-size: 7rem;
  backdrop-filter: blur(0rem);
}

h2 {
  
  padding-left: 2.5rem;
  padding-top:1.5rem;
  padding-bottom:1.5rem;
}
h4 {
  padding-left: 3rem;
  
}
small {
  color: white;
}
footer {
   border: 0.2rem solid black;
  text-align: center;
  padding: 0.6rem;
  background-color: #fbf7ce;
}
.container {
  display: grid; 
  place-items: center; 
  button {
    border: 0.2rem solid black;
    padding: 1.250rem;
    font-size: 1.250rem;
    border-radius: 0.625rem;
    background-color: #fbf7ce;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  button:hover{
    background-color: #fbe986;
  }
}
.dot {
  background-image:url(https://images.hdqwalls.com/wallpapers/seashore-4k-v7.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 50.125rem;
  color: white;
  height: 50rem;
  width: 50rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-left: 83rem;
  margin-top: -80rem;
  margin-bottom: -10rem;
  border: 0.25rem solid black;
}
