body {
  overflow-x: hidden;
  margin: 0;
  font-family: "Montserrat", Arial, sans-serif;
  background-color: #fff9ff;
}
header {
   background-image:url(/salve-um-bonomo/assets/seashore-beach-rocks-aerial-view-4048x2272-1752.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 250.125rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
header .salve {
  font-family: "GEIST", Arial, sans-serif;
  margin-left: 3rem;
  margin-top: -3.7rem;
  color: #fff9ff;
  font-size: 6.7rem;
  backdrop-filter: blur(0rem);
}
h1 {
  
  font-family: "GEIST", Arial, sans-serif;
  margin-left: 3rem;
  margin-top: 7rem;
  color: #fff9ff;
  font-size: 6.5rem;
  backdrop-filter: blur(0rem);
}

h2 {
  
  padding-left: 2.5rem;
  padding-top:1.5rem;
  padding-bottom:1.5rem;
}
h4 {
  padding-left: 3rem;
  
}
small {
  color: white;
}
footer {
  text-align: center;
  padding: 0.6rem;
  background-color: #fbf7ce;
}
.container {
  display: grid; 
  place-items: center; 
  button {
    border: none;
    padding: 1.250rem;
    font-size: 1.250rem;
    border-radius: 0.625rem;
    background-color: #fbf7ce;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  button:hover{
    background-color: #fbe986;
  }
}
